{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-attribute-group" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
        </ol>
      </nav>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fa fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-attribute-group">
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label">{{ entry_generic_name }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.generic_name }}"/></span></div>
                  <input type="text" name="generic_name[{{ language.language_id }}][generic_name]" value="{{ generic_name[language.language_id] ? generic_name[language.language_id].generic_name }}" placeholder="{{ entry_generic_name }}" class="form-control"/>
                </div>
                {% if error_name[language.language_id] %}
                  <div class="invalid-tooltip">{{ error_generic_name[language.language_id] }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
		  <div class="form-group row required">
            <label class="col-sm-2 col-form-label">{{ entry_disease }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.disease }}"/></span></div>
                  <input type="text" name="disease[{{ language.language_id }}][disease]" value="{{ disease[language.language_id] ? disease[language.language_id].disease }}" placeholder="{{ entry_disease }}" class="form-control"/>
                </div>
                {% if error_name[language.language_id] %}
                  <div class="invalid-tooltip">{{ error_disease[language.language_id] }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
		  <div class="form-group row required">
            <label class="col-sm-2 col-form-label">{{ entry_how_to_use }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.how_to_use }}"/></span></div>
                  <input type="text" name="how_to_use[{{ language.language_id }}][how_to_use]" value="{{ how_to_use[language.language_id] ? how_to_use[language.language_id].how_to_use }}" placeholder="{{ entry_how_to_use }}" class="form-control"/>
                </div>
                {% if error_name[language.language_id] %}
                  <div class="invalid-tooltip">{{ error_how_to_use[language.language_id] }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
		  <div class="form-group row required">
            <label class="col-sm-2 col-form-label">{{ entry_dose }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.dose }}"/></span></div>
                  <input type="text" name="dose[{{ language.language_id }}][dose]" value="{{ dose[language.language_id] ? dose[language.language_id].dose }}" placeholder="{{ entry_dose }}" class="form-control"/>
                </div>
                {% if error_name[language.language_id] %}
                  <div class="invalid-tooltip">{{ error_dose[language.language_id] }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
		  <div class="form-group row required">
            <label class="col-sm-2 col-form-label">{{ entry_warning }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.warning }}"/></span></div>
                  <input type="text" name="warning[{{ language.language_id }}][warning]" value="{{ warning[language.language_id] ? warning[language.language_id].warning }}" placeholder="{{ entry_warning }}" class="form-control"/>
                </div>
                {% if error_name[language.language_id] %}
                  <div class="invalid-tooltip">{{ error_warning[language.language_id] }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
		  <div class="form-group row required">
            <label class="col-sm-2 col-form-label">{{ entry_indication }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.indication }}"/></span></div>
                  <input type="text" name="indication[{{ language.language_id }}][indication]" value="{{ indication[language.language_id] ? indication[language.language_id].indication }}" placeholder="{{ entry_indication }}" class="form-control"/>
                </div>
                {% if error_name[language.language_id] %}
                  <div class="invalid-tooltip">{{ error_indication[language.language_id] }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
		  <div class="form-group row required">
            <label class="col-sm-2 col-form-label">{{ entry_side_effect }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.side_effect }}"/></span></div>
                  <input type="text" name="side_effect[{{ language.language_id }}][side_effect]" value="{{ side_effect[language.language_id] ? side_effect[language.language_id].side_effect }}" placeholder="{{ entry_side_effect }}" class="form-control"/>
                </div>
                {% if error_name[language.language_id] %}
                  <div class="invalid-tooltip">{{ error_side_effect[language.language_id] }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
		  <div class="form-group row required">
            <label class="col-sm-2 col-form-label">{{ entry_about_medicine }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.about_medicine }}"/></span></div>
                  <input type="text" name="about_medicine[{{ language.language_id }}][about_medicine]" value="{{ about_medicine[language.language_id] ? about_medicine[language.language_id].about_medicine }}" placeholder="{{ entry_about_medicine }}" class="form-control"/>
                </div>
                {% if error_name[language.language_id] %}
                  <div class="invalid-tooltip">{{ error_about_medicine[language.language_id] }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
		  <div class="form-group row required">
            <label class="col-sm-2 col-form-label">{{ entry_description }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.description }}"/></span></div>
                  <input type="text" name="description[{{ language.language_id }}][description]" value="{{ description[language.language_id] ? description[language.language_id].description }}" placeholder="{{ entry_description }}" class="form-control"/>
                </div>
                {% if error_name[language.language_id] %}
                  <div class="invalid-tooltip">{{ error_description[language.language_id] }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
		  <div class="form-group row required">
            <label class="col-sm-2 col-form-label">{{ entry_disclaimer }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.disclaimer }}"/></span></div>
                  <input type="text" name="disclaimer[{{ language.language_id }}][disclaimer]" value="{{ disclaimer[language.language_id] ? disclaimer[language.language_id].disclaimer }}" placeholder="{{ entry_disclaimer }}" class="form-control"/>
                </div>
                {% if error_name[language.language_id] %}
                  <div class="invalid-tooltip">{{ error_disclaimer[language.language_id] }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}